[Unit]
Description=Generic Scroller Service

[Service]
Restart=always
RestartSec=60s
User=pi
Group=users
WorkingDirectory=/home/pi/scroller.git/
ExecStart=/usr/bin/python3 /home/pi/scroller.git/scroller.py
Restart=always

[Install]
WantedBy=multi-user.target
